.input {
    padding: 10px 20px;
    outline: none;
    border: 2px solid rgba(var(--dark-green-rgb), 0.08);
    background-color: rgba(var(--green-rgb), 0.2);
    border-radius: .2em;
    box-sizing: border-box;
    transition: all .1s ease-out;
}

.input:focus {
    border: 2px solid var(--dark-green);
}