.page {
    width: 100%;
    height: max-content;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 1110px;
    margin: 0 30px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.book_info_area {
    background-color: aqua;

    padding-top: 30px;

    display: flex;
    flex-direction: row;
}

.book_image {

}

.book_info {

}